:root {
    --timeHeight: 120px; /* 120px so that a minute is 2 px - 2px for border */
    --runsColumnWidth: 300px;
    --runsWidth: 290px; /* --runsColumnWidth - padding */
    --shiftsColumnWidth: 300px;
    --shiftsWidth: 290px;
}

body {
    background-color: black;
    color: white;
}

h1 {
    color: white;
    margin-left: 10px;
}

#column-names {
    display: flex;
    margin-bottom: 5px;
}

#time-name {
    text-align: center;
    background-color: brown;
}

#time-runs {
    text-align: center;
    background-color: blueviolet;
    margin-left: 5px;
    margin-right: 5px;
}

.role-name {
    width: var(--runsColumnWidth);
    text-align: center;
    background-color: brown;
    margin-left: 5px;
    margin-right: 5px;
}

#schedule-table {
    display: flex;
    position: absolute;
}

#time-column, #time-name {
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
}

.time-marker {
    width: 100px;
    /* border: 1px solid; */
    border-top: 1px solid;
    height: var(--timeHeight);
}

#runs-column, #time-runs {
    width: var(--runsColumnWidth);
}

#runs-column {
    /* border: 1px solid; */
    margin-left: 5px;
    margin-right: 5px;
}

.shifts-column {
    width: var(--shiftsColumnWidth);
    /* border: 1px solid; */
    margin-left: 5px;
    margin-right: 5px;
}

.shift {
    width: var(--shiftsWidth);
    padding-left: 5px;
    padding-right: 5px;
    background-color: aquamarine;
    margin-left: 5px;
    margin-right: 5px;
}

.run, .interm {
    width: var(--runsWidth);
    padding-left: 5px;
    padding-right: 5px;
    background-color: blue;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.interm {
    background-color: red;
}
