{% extends 'schedule/base.html' %}
{% load static %}
{% load base_schedule_filters %}
{% block head %}
<script src="{% static "schedule/js/base_schedule.js" %}"></script>
<link id="stylesheet" rel="stylesheet" type="text/css" href="{% static "schedule/css/base_schedule.css" %}">
{% endblock %}
{% block content %}
<h1>{{ room.EVENT }} - {{ room.NAME }} Schedule</h1>
<div id="column-names">
    <div id="time-name">Time</div>
    <div id="time-runs">Speedruns / Intermissions</div>
    {% for role in shifts.keys %}
        <div class="role-name"> {{ role.NAME }} </div>
    {% endfor %}
</div>
<div id="schedule-table" data-start-ts="{{ table_start }}" data-end-ts="{{ table_end }}" data-event-id="{{ room.EVENT.id }}" data-room-id="{{ room.id }}">
        <div id="time-column">
            {% for t in times %}
                <div class="time-marker">{{ t }}</div>
            {% endfor %}
        </div>
    <div id="runs-column">
        {% for x in runs_interms %}
            {% if x.type == 'run' %}
                <div class="run block" data-start-mins-rel="{{ x.start_mins_rel }}" data-length-mins-rel="{{ x.length_mins_rel }}" data-id="{{ x.obj.id }}" style="visibility: hidden">
                    <div>{{ x.obj.START_TIME.time }} {{ x.obj.GAME }}</div>
                    <button class="add-shift-from-run">Add Shift From This Run</button>
                </div>
            {% elif x.type == 'interm' %}
                <div class="interm block" data-start-mins-rel="{{ x.start_mins_rel }}" data-length-mins-rel="{{ x.length_mins_rel }}" data-id="{{ x.obj.id }}" style="visibility: hidden">
                    {{ x.obj.START_TIME.time }} Intermission ({{ x.obj.DURATION }})
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% for role, shifts in shifts.items %}
        <div class="shifts-column" data-role-id="{{ role.id }}">
            {% for shift in shifts %}
                <div class="shift block" data-start-mins-rel="{{ shift.start_mins_rel }}" data-length-mins-rel="{{ shift.length_mins_rel }}" data-shift-id="{{ shift.id }}" data-start-ts="{{ shift.start_iso }}" data-end-ts="{{ shift.end_iso }}" style="visibility: hidden">
                    <div>
                        {% for name in shift.volunteer_names %}
                            {{ name }}
                        {% endfor %}
                    </div>
                    <button class="edit-shift">Edit Shift</button>
                    <button class="remove-shift">Remove Shift</button>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}